<div class="flex flex-col gap-2 w-full">
  <mat-form-field class="w-full" appearance="outline">
    <mat-label>{{ passwordLabel() }}</mat-label>
    <input matInput [formField]="password()" type="password" autocomplete="new-password" />
    <mat-error>
      @if (passwordField().touched() && passwordField().errors().length > 0) {
        At least 8 characters
      }
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-full" appearance="outline">
    <mat-label>{{ confirmLabel() }}</mat-label>
    <input matInput [formField]="confirmPassword()" type="password" autocomplete="new-password" />
    <mat-error>
      @if (confirmPasswordField().touched() && confirmPasswordField().errors().length > 0) {
        Passwords do not match
      }
    </mat-error>
  </mat-form-field>
</div>
