<ng-container [formGroup]="group()">
  <mat-form-field appearance="outline">
    <mat-label>{{ passwordLabel() }}</mat-label>
    <input matInput formControlName="password" type="password" autocomplete="new-password" />
    @if (group().get('password')!.hasError('minlength')) {
      <mat-error>At least 8 characters</mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ confirmLabel() }}</mat-label>
    <input
      matInput
      formControlName="confirmPassword"
      type="password"
      autocomplete="new-password"
      [errorStateMatcher]="confirmErrorMatcher"
    />
    @if (group().hasError('passwordMismatch')) {
      <mat-error>Passwords do not match</mat-error>
    }
  </mat-form-field>
</ng-container>
