<app-auth-layout title="Verify your email" description="Check your inbox for a verification link">
  <p class="text-center mat-font-body-md mat-text-on-surface-variant">
    We sent a verification email to your address. Click the link in the email to verify your
    account.
  </p>

  <div class="flex flex-col gap-2">
    <button class="w-full mt-2" mat-flat-button (click)="resend()" [disabled]="loading()">
      @if (loading()) {
        <mat-spinner diameter="20"></mat-spinner>
      } @else {
        Resend verification email
      }
    </button>

    <button class="w-full mt-2" mat-button (click)="logout()">Logout</button>
  </div>
</app-auth-layout>
