---
const year = new Date().getFullYear();
---

<footer>
  <p>© {year} Datei</p>
  <ul>
    <li>
      <a href="/docs/">Docs</a>
    </li>
    <li>
      <a href="/blog/">Blog</a>
    </li>
    <li>
      <a
        href="https://github.com/godatei/datei"
        target="_blank"
        rel="noopener noreferrer">
        GitHub
      </a>
    </li>
  </ul>
</footer>
