<section class="flex flex-col gap-4">
  <div>
    <h3 class="mat-font-title-lg m-0">
      @if (requireCurrentPassword()) {
        Change Password
      } @else {
        Reset Password
      }
    </h3>
    <p class="mat-font-body-md mat-text-on-surface-variant m-0">
      @if (requireCurrentPassword()) {
        Update your password
      } @else {
        Set a new password for this user
      }
    </p>
  </div>
  <form class="flex flex-col gap-2" [formRoot]="passwordForm">
    @if (requireCurrentPassword()) {
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Current password</mat-label>
        <input
          matInput
          [formField]="passwordForm.currentPassword"
          type="password"
          autocomplete="current-password"
        />
      </mat-form-field>
    }
    <app-password-confirm
      [password]="passwordForm.password"
      [confirmPassword]="passwordForm.confirmPassword"
      passwordLabel="New password"
      confirmLabel="Confirm new password"
    />
    <button mat-flat-button type="submit" [disabled]="!canSubmit()">
      @if (requireCurrentPassword()) {
        Change password
      } @else {
        Reset password
      }
    </button>
  </form>
</section>
