<div class="m-5">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="4" rowHeight="12rem">
    @for (card of cards; track card) {
      <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
        <div class="absolute inset-4 flex">
          <mat-card class="grow">
            <mat-card-header>
              <mat-card-title>
                {{ card.title }}
                <div class="absolute top-1 right-2.5">
                  <button matIconButton [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item>Expand</button>
                    <button mat-menu-item>Remove</button>
                  </mat-menu>
                </div>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="text-center"></mat-card-content>
          </mat-card>
        </div>
      </mat-grid-tile>
    }
  </mat-grid-list>

  @if (parentId()) {
    <button mat-button (click)="navigateUp()">
      <mat-icon>arrow_back</mat-icon>
      Back
    </button>
  }

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        <div class="flex items-center gap-2">
          <mat-icon aria-hidden="true">{{
            element.isDirectory ? 'folder' : 'insert_drive_file'
          }}</mat-icon>
          {{ element.name }}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Created At</th>
      <td mat-cell *matCellDef="let element">{{ element.createdAt | date }}</td>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef>Updated At</th>
      <td mat-cell *matCellDef="let element">{{ element.updatedAt | date }}</td>
    </ng-container>

    <ng-container matColumnDef="mimeType">
      <th mat-header-cell *matHeaderCellDef>Content Type</th>
      <td mat-cell *matCellDef="let element">{{ element.mimeType }}</td>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" class="w-12 text-right">
        <button
          matIconButton
          [matMenuTriggerFor]="rowMenu"
          (click)="$event.stopPropagation()"
          aria-label="More actions"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #rowMenu="matMenu">
          <button mat-menu-item (click)="trashDatei(element.id, $event)">
            <mat-icon>delete</mat-icon>
            Move to trash
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      [class.cursor-pointer]="row.isDirectory"
      (click)="onRowClick(row)"
    ></tr>
  </table>
</div>

<input type="file" style="display: none" #uploadInput (change)="startUpload($event.target)" />

<mat-menu #newMenu="matMenu" yPosition="above">
  <button mat-menu-item (click)="uploadInput.click()" [disabled]="uploading()">
    <mat-icon>upload_file</mat-icon>
    Upload file
  </button>
  <button mat-menu-item (click)="openNewFolderDialog()">
    <mat-icon>create_new_folder</mat-icon>
    New folder
  </button>
</mat-menu>

<div class="fixed bottom-8 right-8">
  <button matFab extended [matMenuTriggerFor]="newMenu" aria-label="Create new">
    <mat-icon>add</mat-icon>
    New
  </button>
</div>
