<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="4" rowHeight="12rem">
    @for (card of cards; track card) {
      <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              {{ card.title }}
              <button
                matIconButton
                class="more-button"
                [matMenuTriggerFor]="menu"
                aria-label="Toggle menu"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before">
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content"></mat-card-content>
        </mat-card>
      </mat-grid-tile>
    }
  </mat-grid-list>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>Created At</th>
      <td mat-cell *matCellDef="let element">{{ element.createdAt | date }}</td>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef>Updated At</th>
      <td mat-cell *matCellDef="let element">{{ element.updatedAt | date }}</td>
    </ng-container>

    <ng-container matColumnDef="mimeType">
      <th mat-header-cell *matHeaderCellDef>Content Type</th>
      <td mat-cell *matCellDef="let element">{{ element.latestVersion.mimeType }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<input type="file" style="display: none" #uploadInput (change)="startUpload($event.target)" />

<button matFab extended class="main-fab" (click)="uploadInput.click()" [disabled]="uploading()">
  <mat-icon>upload</mat-icon>
  Upload
</button>
